table {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table, td, th {
  border: 1px solid rgb(221, 221, 221);
  border-spacing: 0px;
}

table tr th {
  background: rgb(221, 221, 221);
}

tr:nth-child(odd) {
  background: rgb(241, 241, 241);
}

.table tr:hover, tr:hover th {
  background: rgb(0, 0, 0);
  color: rgb(255, 255 ,255);
  border-left: none;
  border-right: none;
}

.table tr:hover td, tr:hover th{
  border: 1px solid rgb(0, 0, 0);
}
