<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Skandau Lyrics - Текстове на песни на СкандаУ</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main-style.css" />
    <link rel="stylesheet" href="/css/bootstrap-v3.3.7.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-better-nav.min.css" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
</head>
<header class="site-header">
    <!-- Header Nav -->
    <nav class="navbar navbar-inverse">
        <!--.nav-collapse -->
        <div class="container-fluid">
            <!--/.container-fluid -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="navbar-brand logo">
                    <a href="index.html"><img src="images/lyrics.png" alt="СкандаУ Текстове"></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">СкандаУ</a>
                            <ul class="dropdown-menu">
                                <li><a href="lyrics/skandau/хайвера.html">Хайвера</a></li>
                                <li><a href="lyrics/skandau/без-да-пие.html">Без Да Пие</a></li>
                                <li><a href="lyrics/skandau/кокаина.html">Кокаина</a></li>
                                <li><a href="lyrics/skandau/мафия.html">Мафия</a></li>
                                <li><a href="lyrics/skandau/replay.html">Replay</a></li>
                                <li><a href="lyrics/skandau/искам-аз.html">Искам Аз</a></li>
                                <li><a href="lyrics/skandau/ангели-и-демони.html">Ангели и Демони</a></li>
                                <li><a href="lyrics/skandau/до-морето.html">До морето</a></li>
                                <li><a href="lyrics/skandau/къш-къш.html">Къш Къш</a></li>
                                <li><a href="lyrics/skandau/ритъмъ.html">РитъмЪ</a></li>
                                <li><a href="lyrics/skandau/акт-wow.html">Акт-Wow</a></li>
                                <li><a href="lyrics/skandau/тв-и-радио.html">ТВ и Радио</a></li>
                                <li><a href="lyrics/skandau/се-тая.html">Се Тая</a></li>
                                <li><a href="lyrics/skandau/хляб-и-сол.html">Хляб и Сол</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Колаборации</a>
                            <ul class="dropdown-menu">
                                <li><a href="lyrics/collaborations/но.html">НО</a></li>
                                <li><a href="lyrics/collaborations/карамбол.html">Карамбол</a></li>
                                <li><a href="lyrics/collaborations/шесто-чувство.html">Шесто Чувство</a></li>
                                <li><a href="lyrics/collaborations/сега-сме-други.html">Сега Сме Други</a></li>
                                <li><a href="lyrics/collaborations/entering-my-wound.html">Entering My Wound</a></li>
                                <li><a href="lyrics/collaborations/моят-рай.html">Моят Рай</a></li>
                                <li><a href="lyrics/collaborations/reality.html">Reality</a></li>
                                <li><a href="lyrics/collaborations/от-юни-до-август.html">От Юни до Август</a></li>
                                <li><a href="lyrics/collaborations/кинти.html">Кинти</a></li>
                                <li><a href="lyrics/collaborations/жуотно.html">Жуотно</a></li>
                                <li><a href="lyrics/collaborations/bad-madafaka.html">Bad Madafaka</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тото</a>
                            <ul class="dropdown-menu">
                                <li><a href="lyrics/toto/чужди-усмивки.html">Чужди Усмивки</a></li>
                                <li><a href="lyrics/toto/къде-попаднах.html">Къде Попаднах</a></li>
                                <li><a href="lyrics/toto/аре-бе.html">Аре Бе</a></li>
                                <li><a href="lyrics/toto/караш-ме.html">Караш Ме</a></li>
                                <li><a href="lyrics/toto/рицар-с-дрехи.html">Рицар с Дрехи</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Лъчо</a>
                            <ul class="dropdown-menu">
                                <li><a href="lyrics/lycho/катран.html">Катран</a></li>
                                <li><a href="lyrics/lycho/момиче.html">Момиче</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.container-fluid -->
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>
<body>
    <div class="container-fluid">
        @RenderBody()
        <footer class="footer">
            <div class="social">
                <h3><a href="http://www.skandau.com" target="_blank">СкандаУ - Официален сайт</a></h3>
                <div class="social-media">
                    <ul>
                        <li><a href="https://www.facebook.com/GrupaSkandaU/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/skandau" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/+GrupaSkandaUOfficial" target="_blank"> <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/user/SkandaUOfficial" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <p> &copy; 2019 СкандаУ Lyrics</p>
            </div>
        </footer>

        <script src="/Resourses/js/jquery-1.12.4.js"></script>
        <script src="/Resourses/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-better-nav.min.js"></script>
        
    </div >
</body >
</html >
