html{
  background-color: RGB(238,238,238);
  margin: 2em auto;
  text-align: center;
}

.gallery {
  display: inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
  border: 0.4rem solid black;
  margin: 0.3em;
  vertical-align: middle;
}

img {
  background-color: white;
  max-height: 450px;
  padding: 0.6em;
}
